/* Your Website Styles */

h1 {

color: #A3B8AE;
font-family: 'Lobster', cursive;
background: #151712;
width: 300px;
padding: 10px;
border: 10px solid black;
margin: 0px;
}

body {

	background: url("../img/bg.png") ;

}

/* Show Grid */

.showgrid {

	background: url("../img/grid-bg.png") repeat-y;

}