/*  Body  */

body {
	font-family: 'Poiret One', cursive;
	}


/*  Selected Element  */

#selected {
	color: #3388dd;
	text-decoration: none;
}

#main {
	color: #3388dd;
	text-decoration: none;
}


/*  Image Editing  */

.me {
	border-radius: 50%;
	background: #000;
	margin: 37px 376px -19px;
	padding: 7px;

}

/*  Heading  */

h1 {
	font-family: 'Megrim', cursive;
	font-size: 2em;
	text-align: center;
	color: #fff;
	background: #000;
	padding: 18px 0;
	margin: -15px 0;
}

h2 {
	text-align: center;
	font-size: 1.20em;
	color: #fff;
	background: #000;
	padding: 7px 0;
	margin: 13px 0px 12px;
}

/*About*/

.about {
	background: none repeat scroll 0% 0% #000;
	width: 405px;
	padding: 10px 10px;
	border-radius: 0px 20px;
	text-align: center;
	margin: 20px 20px 0px;
	color: #3388dd;
}

.major {
	background: none repeat scroll 0% 0% #000;
	width: 405px;
	padding: 10px 0px;
	border-radius: 20px 0px;
	text-align: center;
	margin: 20px 20px 0px;
	color: #3388dd;
}

/*  Nav  */


ul.nav {
	font-size: 1.50em;
	margin: -144px auto;
	padding: 120px 250px;
	list-style: none;
	display: block;
	text-align: center;
}

ul.nav li{
	display: inline-block;
	margin: 0 10px;
	padding: 20px;
}

ul.nav li a {
	color: #000;
	display: block;
	text-decoration: none;
}

ul li a:hover, ul li a:focus {
 color: #3388dd;
}

/*  Links  */



a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #3388dd;
}

a:active {
	color: #3388dd;
}


/* Art ( http://www.dreamweaverclub.com/dreamweaver-show-larger-image.php ) */

#picture {
	width:100px; 
	height: 250px; 
	background-color:#ffffff;
}

#picture a.small, #picture a.small:visited { 
	display:block; 
	width:100px; 
	height:100px; 
	text-decoration:none; 
	background:#ffffff; 
	top:0; 
	left:0; 
	border:0;
}

#picture a img {
	border:0;
}

#picture a.small:hover {
	text-decoration:none; 
	background-color:#000000; 
	color:#000000;
}

#picture a .large {
	display:block; 
	position:absolute; 
	width:0; 
	height:0; 
	border:0; 
	top:0; 
	left:0;
}

#picture a.small:hover .large {
	display:block; 
	position:absolute; 
	top: 90px; 
	left:150px; 
	width:200px; 
	height:200px; 
} 






/*  Footer  */

#copyright {
	text-align: center;
	margin: 0;
	padding: 100px;
}


